@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h2>Treat Details</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h4>
<h4>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)</h4>
@if (Model.JoinEntities.Count == 0)
{
  <p>No flavors currently available for this treat.</p>
} 
else
{
  <h6>Flavors this treat is available in: </h6>
    <ul>
      @foreach(var join in Model.JoinEntities)
      {
        @using (Html.BeginForm("DeleteFlavor", "Treats"))
        {  
          @Html.Hidden("joinId", @join.FlavorTreatId);
          <li>@join.Flavor.FlavorDescription || <input type="submit" value="Delete" style="font-size:.6em; padding:.25em" class="btn btn-xs btn-dark"/></li>
        }
      }
    </ul>
}
<button class="btn-light">@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</button>
<button class="btn-light">@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</button>
<button class="btn-light">@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</button>